SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Asia/Almaty
LOG_LEVEL=INFO

DB_ENGINE=django.db.backends.postgresql
DB_NAME=barber_db
DB_USER=barber_user
DB_PASSWORD=barber_password
DB_HOST=127.0.0.1
DB_PORT=5433

BOT_TOKEN=123456789:replace-with-real-token
API_BASE_URL=http://127.0.0.1:8000/api
